boto3
pydantic
pytest
spacy>=3.4.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl

# Testing dependencies (optional)
moto[s3,ssm,lambda,apigateway]
requests
aiohttp
pandas
matplotlib
psutil
